.main-menu {
  text-align: center;
  color: #FFF;

  ion-navbar {
    padding: 0px;

    ion-row {
      height: 5.6rem;
      line-height: 5.1rem;

      .selected {
        background-color: #b29bc8;
      }

    }

  }

}

.error-field {
  display: block;
  background: #f2dede;
  color: #a94442;
  margin-top: 0.5rem;
  padding: 0.6em;
  margin-left: 16px;
}

.text-center {
  text-align: center;
}

.background-page {
  background: #e3e0e6;
}

.background-light {
  background: #FFF;
}
