<ion-content padding class="login">
  <div class="parent">
    <div [hidden]="ctrlLogo" class="logo">
      <img src="./img/logo.jpg">
    </div>

    <div class="form">
        <div padding>
          <ion-segment [(ngModel)]="authType" dark>
            <ion-segment-button value="login" (click)="ctrlLogo = false" checked>
              Login
            </ion-segment-button>
            <ion-segment-button value="signup" (click)="ctrlLogo = true">
              Cadastre-se
            </ion-segment-button>
          </ion-segment>
        </div>

        <!-- =============== SINGIN =============== -->
        <div [ngSwitch]="authType">
          <form *ngSwitchWhen="'login'" #loginCreds="ngForm" [ngFormModel]="formLogin" *ngSwitchDefault (ngSubmit)="login(loginCreds.value)">
            <ion-item>
              <ion-label stacked> E-mail </ion-label>
              <ion-input type="email" ngControl="email"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="!email.valid && email.touched"> Este campo é necessário </div>

            <ion-item>
              <ion-label stacked> Senha </ion-label>
              <ion-input type="password" ngControl="pass"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="!pass.valid && pass.touched"> Este campo é necessário e deve conter 6 digitos </div>

            <div padding>
              <button full dark [disabled]="!loginCreds.valid"> Login </button>
            </div>
          </form>

          <!-- =============== SINGUP =============== -->
          <form *ngSwitchWhen="'signup'" #signupCreds="ngForm" [ngFormModel]="formSignup" (ngSubmit)="signup(signupCreds.value)">
            <ion-item>
              <ion-label stacked> Nome </ion-label>
              <ion-input type="text" ngControl="name"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="!name.valid && name.touched"> Este campo é necessário </div>

            <ion-item>
              <ion-label stacked> E-mail </ion-label>
              <ion-input type="email" ngControl="email"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="!email.valid && email.touched"> Este campo é necessário </div>

            <ion-item>
              <ion-label stacked> Data de nascimento </ion-label>
              <ion-input type="date" ngControl="birth"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="!birth.valid && birth.touched"> Este campo é necessário </div>

            <ion-item>
              <ion-label stacked> Senha </ion-label>
              <ion-input type="password" ngControl="pass"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="!pass.valid && pass.touched"> Este campo é necessário e deve conter 6 digitos </div>

            <ion-item>
              <ion-label stacked> Confirmar senha </ion-label>
              <ion-input type="password" ngControl="passConfirm"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="!passConfirm.valid && passConfirm.touched"> EEste campo é necessário e deve conter 6 digitos </div>

            <div padding>
              <button full dark [disabled]="!signupCreds.valid"> Cadastre-se </button>
            </div>
          </form>
        </div>

        <div padding>
          <button (click)="loginFacebook()" full facebook> <ion-icon name="logo-facebook"></ion-icon> Facebook </button>
        </div>
            <!--<ion-col width-50>
                <button (click)="loginGoogle()" full danger> <ion-icon name="logo-googleplus"></ion-icon> Google + </button>
            </ion-col>-->

        <div padding>
           <p *ngIf="error" class="error">{{ error._body }}</p>
        </div>
    </div>
  </div>
</ion-content>
